<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix SA</title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/aside.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/landing.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>
    <body>
    <!-- Sidebar--> 
        <div class="sidebar">
            <aside class="menu">
                <img class="img-rocket" src="../Assets/cohete.png">
                <ul>
                    <li><a href="../views/index.html">Home</a></li>
                    <li><a href="../views/sign-up.html">SignUp</a></li>
                    <li><a href="../views/login.html">LogIn</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </aside>
        </div>
        <div class="all">
    <!-- Header-->    
            <header>
                <div class="hamburger-container">
                    <div class="hamburger">
                        <img src="../Assets/hamburger.png">
                    </div>
                </div>
                <h2>Trackgenix SA</h2>
            </header>
            <main>
        <!--Description-->  
                <section class="line">
                <div class="description-container">   
                    <div class="description"> 
                            <h1 class="hiwe"> Hi, we are Trackgenix</h1>
                            <h5>THE BEST CHOICE FOR YOUR BUSINESS</h5>
                            <p class="p-description"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                                to make a type specimen book.</p>
                    </div>
                    <div> 
                        <img class="img-pc" src="../Assets/Imagen 1 Computadora.JPG">
                    </div>
                </div>    
                </section>
            <!-- 4 hours reports..-->     
                <section class="line">
                <section class="box-container">    
                    <div class="box">
                        <h3 class="box-title">Hours</h3>
                        <p class="box-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when </p>
                    </div>
                    <div class="box">
                        <h3 class="box-title">Reports</h3>
                        <p class="box-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                            an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                    </div>
                    <div class="box">
                        <h3 class= "box-title"> Multiple Roles</h3>
                        <p class="box-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                            an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                    </div>
                    <div class="box">
                        <h3 class="box-title">Resource Management</h3>
                        <p class="box-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                            an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                    </div>
                </section>    
                </section>
            <!-- Images triangles-->
                <section class="line">
                <section class="extras-container">
                    <div class="extras">
                        <img class="icon" src="../Assets/icon-Productivity-booster.png">  
                        <div class="text-extras"> 
                            <h4>Productivity booster</h4>
                            <p>Lorem ipsum incidunt numquam sapiente, fugit ducimus.</p>
                        </div>
                    </div> 
                    <div class="extras">  
                        <div class="text-extras">
                            <h4>Leadership and management</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry..</p>
                        </div>
                        <img class="icon" src="../Assets/icon-leadership.png">      
                    </div>
                    <div class="extras">
                        <img class="icon" src="../Assets/icon-work-traceability.png">
                        <div class="text-extras">
                            <h4>Work Traceability</h4>
                            <p>Lorem ipsum incidunt di numquam sapiente, fugit ducimus.</p>
                        </div>
                    </div>
                    <div class="extras"> 
                        <div class="text-extras">
                            <h4>Decision making</h4>
                            <p>Lorem ipsum incidunt numquam sapiente, fugit ducimus.</p>
                        </div>
                        <img class="icon" src="../Assets/icon-decision-making.png">
                    </div>
                </section>
                </section>
            <!--form-->
                <section id="contact" class="line">
                        <h2 class="contact-title">Contact us for more information about the system</h2>
                        <form>
                            <div class="f-name">
                                <label>First name:</label>
                                <input name="name" type="text" placeholder="Raquel">
                            </div>
                            <div class="l-name">
                                <label>Last name:</label>
                                <input name="last-name" type="text" placeholder="Ferrari">
                            </div>
                            <div class="form-group">
                                <label>Email:</label>
                                <input class="email" name="email" type="text" placeholder="example@mycompany.com">
                            </div>
                            <div class="form-group">
                                <label>Contact area:</label>
                                <select>
                                    <option>Options</option>
                                    <option>Sales</option>
                                    <option>Quality</option>
                                    <option>RRHH</option>
                                    <option>Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Text area:</label>
                                <textarea name="text-area"> </textarea>
                            </div>
                            <div class="form-group-button">
                                <input class="submit" type="Submit" value="SEND MESSAGE">
                                <input class="reset" type="Reset" value="RESET">
                            </div>
                        </form>
                </section>
    <!--who we are--> 
                <section class="line">
                <div class="wwa-container">   
                    <div class="wwa">
                        <h3 class="wwa-title">Who we are</h3>
                        <p class="wwa-p">RR time tracker is a web platform that help to manage time at work.</p>
                        <p class="wwa-p">What type of application do you have in mind?</p>
                        <p class="wwa-p"> We are providing you with the core UI kit needed to kickstart your design and develpment
                            while also allowing you to add new functionalities to the existing capabilities.</p>
                </div>
                    </div>            
                </section>
    <!-- Table Products Company Support cambiar a listas-->
                <section class="line">
                <section class="lists-container">
                    <div class="lists">
                        <h3>Products</h3>
                        <ol>
                            <li>Help</li>
                            <li>Tutorials</li>
                            <li>API</li>
                            <li><a href="#contact"> Contact </a></li>
                        </ol>
                    </div>
                    <div class="lists">
                        <h3>Company</h3>
                        <ol>
                            <li><a href=C:\Users\jzky78\Desktop\BaSP-M2022-Etapa-1\Semana-01\index.html> About us</a></li>
                            <li>Clients</li>
                            <li>Resources</li>
                            <li> <a href=blogspot.com/trackgenix>Blog</a></li>
                        </ol>
                    </div>
                    <div class="lists">
                        <h3>Support</h3>
                        <ul>
                            <li>Functionalities</li>
                            <li>Downloads</li>
                            <li>Integrations</li>
                            <li>Additional features</li>
                        </ul>
                    </div>
                </section>
                </section>
            </main>
        <!--footer--> 
            <footer>
                <a href="linkedin.com/trackgenix">
                    <img class="rrss" src="../Assets/ln.JPG">
                </a>
                <a href="facebook.com/trackgenix">
                    <img class="rrss" src="../Assets/fbc.JPG" >
                </a>
                <a href="twitter.com/trackgenix">
                    <img class="rrss" src="../Assets/twt.jpg">
                </a>
                <a href="github.com/trackgenix">
                    <img class="rrss" src="../Assets/nn.JPG">
                </a>
                <a href="instagram.com/trackgenix">
                    <img class="rrss" src="../Assets/insta.JPG">
                </a>
                <h6 class="copy">Copyright &copy; 2022 Trackgenix SA. All rights reserved.</h6>
            </footer>
        </div>
    </body>
</html>