<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/sign-up.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/aside.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <div class="sidebar">
        <aside class="menu">
            <img class="img-rocket" src="../Assets/cohete.png">
            <ul>
                <li><a href="../views/index.html">Home</a></li>
                <li><a href="../views/sign-up.html">SignUp</a></li>
                <li><a href="../views/login.html">LogIn</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </aside>
    </div>
    <div>
        <header>
            <div class="hamburger-container">
                <div class="hamburger">
                    <img src="../Assets/hamburger.png">
                </div>
            </div>
            <h2>Trackgenix SA</h2>
        </header>
        <main>
            <section class="line">
            <section class="signup-container">
            <div class="signup-box">
                <h3>Sign Up</h3>
                <form>
                    <div class="f-name">
                        <label>First Name</label>
                        <input type="text" name="name" placeholder="Raquel">
                    </div>
                    <div class="l-name">
                        <label>Last Name</label>
                        <input type="text" name="last-name" placeholder="Ferrari">
                    </div>
                    <div>
                        <label>DNI</label>
                        <input type="text" name="DNI" placeholder="DNI">
                    </div>
                    <div>
                        <label>Birth Date</label>
                        <input type="text" name="birth-date" placeholder="dd/mm/aaaa">
                    </div>
                    <div>
                        <label>Phone</label>
                        <input type="text" name="phone" placeholder="phone number">
                    </div>
                    <div>
                        <label>Address</label>
                        <input type="text" name="address" placeholder="address">
                    </div>
                    <div>
                        <label>City</label>
                        <input type="text" name="city" placeholder="city">
                    </div>
                    <div>
                        <label>Postal Code</label>
                        <input type="text" name="postal-code" placeholder="postal code">
                    </div>
                    <div>
                        <label>Email</label>
                        <input type="text" name="email" placeholder="example@mycompany.com">
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="password" id="pwd" name="pwd" placeholder="password">
                    </div>
                    <div>
                        <label>Repeat Password</label>
                        <input type="password" id="pwd" name="pwd" placeholder="password">
                    </div>
                    <div class=" form-group-button">
                        <input class="submit" type="submit" name="submit" value="Submit">
                        <input class="reset" type="reset" name="reset" value="Reset">
                    </div>
                </form>
            </div>
            </section>
            </section>
        </main>
        <footer>
            <a href="linkedin.com/trackgenix">
                <img class="rrss" src="../Assets/ln.JPG">
            </a>
            <a href="facebook.com/trackgenix">
                <img class="rrss" src="../Assets/fbc.JPG" >
            </a>
            <a href="twitter.com/trackgenix">
                <img class="rrss" src="../Assets/twt.jpg">
            </a>
            <a href="github.com/trackgenix">
                <img class="rrss" src="../Assets/nn.JPG">
            </a>
            <a href="instagram.com/trackgenix">
                <img class="rrss" src="../Assets/insta.JPG">
            </a>
            <h6 class="copy">Copyright &copy; 2022 Trackgenix SA. All rights reserved.</h6>
        </footer>
    </div>
    <script src="../javascript/sign-up.js"></script>
</body>
</html>