@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
header {
    margin-top: 0px;
    background: #46A37C;
    height: 150px;
    width: 100%;
    color:rgb(55, 56, 103);
}

header h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 30%;
    padding-top: 50px;
}

body {
    font-family: 'Roboto', arial, sans-serif;
    line-height: 1.4em;
    color:rgb(55, 56, 103);
    background-color: white;
}

.margin{
    margin-left: 20%;
}

.description {
    display: inline-block;
    margin-top: 20px;
}

.h5 {
    font-style: bold;
    color:rgb(180, 175, 175);
    position:relative;
}

.p-description {
    position:relative;
    width: 100%;
    line-height: 1.4em;
    margin-top: 40px;   
}

.img-rocket {
    position: fixed;
    width: 15%;
    height: 150px;
}

aside {
    float: left;
    background-color: rgb(55, 56, 103) ;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', arial, sans-serif;
    font-size: 30 px;
    position: fixed;
    top: 150px;
    width: 15%;
    height:100%;
    line-height:1.4em;
    text-align: center;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

aside a {
    padding-top: 20px;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

aside a:hover{
    color: rgb(70, 163, 124);
    font-weight: 700;
}

.img-pc {
    float: right;
    width: 317px;
    height: 395px; 
    margin-right: 15%;
    margin-top: -7%;
}


.hiwe{
    color: rgb(55, 56, 103);;
    font-size: 60px;
    font-weight: 700;
    line-height: 150px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', arial, sans-serif;
}

h5{
    font-family: 'Roboto', arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: rgb(180, 175, 175);
}

.p-description {
    width: 30%;
    font-size: 20px;
    font-family: 'Roboto', arial, sans-serif;
    line-height: 1.4em;
    margin-top: 40px;   
}

.box{
    display:inline-block;
    width: 30%;
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    height: 150px;
    padding-top: 63px;
    padding-bottom: 63px;
    margin-left:5%;
}

.box-title {
    text-align: center;
    color: rgb(70, 163, 124);
    font-family: 'Roboto', arial, sans-serif;
    line-height: 1.4em;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-top:5%;
}

.box-p{
    width: 70%;
    text-align: center;
    padding-left: 15%;
}

.extras {
    display: inline-block;
    margin-left: 5%;
    font-family: 'Roboto', arial, sans-serif; 
    width: 40%;
}

.icon img {
    display:inline-block;
    border-radius:100%;
    height: 120px;
    width: 60%;
}

.text-extras {
    display: inline-block;
    width: 40%;
}

.text-extras h4 {
    color: rgb(55, 56, 103);
    font-family: 'Roboto', arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

#contact {
    font-family: 'Roboto', arial, sans-serif; 
}

#contact h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-top: -5%;
    line-height: 150px;
}


.form-block {
    margin-left: 5%;
    line-height: 29px;
}

.f-name {
    display:inline-block;
    width: 37%;
}

.l-name {
    display:inline-block;
    width: 37%;
}

.form-group {
    width:83.55%;
}

select {
    width:80.5%;
    color: rgb(55, 56, 103);
}

textarea {
    width:80%;
}

label {
    display: block;
    color: rgb(55, 56, 103);
}

input {
    display: inline-block;
    width: 80%;
}

.submit {
    display:inline-block;
    width: 12%;
    background-color: rgb(170, 206, 155);
    border-radius: 5px;
    padding: 10px 24px;
    color: rgb(55, 56, 103);
}

.reset {
    display:inline-block;
    width: 12%;
    border-radius: 5px;
    padding: 10px 24px;
    color: rgb(55, 56, 103);
}

.form-group-button {
    text-align:center;
    color: rgb(55, 56, 103);
}

.wwa {
    background: rgb(253, 253, 253);
    box-shadow: 0px 8px 100px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    width: 50%;
    height: 250px;
    margin-left:8%;
    text-align: left;
}

.wwa-title {
    font-family: 'Roboto', arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: (55, 56, 103);
    padding-left: 15%;
    padding-top: 2%;
    width: 80%;
}

.wwa-p {
    font-family: 'Roboto', arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;    
    line-height: 21px;
    color: rgba(21, 21, 21, 1);
    text-align:left;
    padding-left: 15%;
    padding-top: 2%;
    margin-bottom:3%;
    width: 80%;
}


footer {
    margin-left: 10%;
    padding: 20px;
    background-color: white;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    font-style: italic;
    color: black;
    width:100%;
}
    
.rrss {
    padding: 10px;
    width: 40px;
    height: 40px;
}

.line{
    border-bottom: 1px solid black;
    padding: 25px 0px 25px 0px;
    display:inline-block;
    width:100%;
}